body{
    background-color:aqua;
}

p{
    color:aquamarine
}

h1{
    color:rgb(175, 0, 0);
    font-family:'Courier New', Courier, monospace
}
h2{
  color:rgb(175, 0, 0);
    font-family:'Courier New', Courier, monospace
}
p{
  font: size 11px;
  font-family:'Courier New', Courier, monospace
}

